img {
    max-width: 100%;
    box-shadow: 0 2px 5px 0 #000;
    display: block;
    margin: 3% auto 0;
    max-height: 700px;
    background: url(images/load.gif) center no-repeat
}

.logo {
    box-shadow: 0 0;
    min-width: 64px;
    min-height: 64px;
    margin: 0;
    padding: 0
}

.nav {
    font-weight: 700
}

.nav#mainnav {
    padding: .5rem 2px;
    margin-top: 5%;
    border-top: 5px solid;
    border-bottom: 5px solid
}

.nav a:hover {
    background-color:#000;
    color:#fff;
    cursor: pointer;    
}

.hrnav {
    margin-top: .5rem;
    margin-bottom: .5rem;
    border-bottom: 5px solid #000
}

ul#mainnav {
    display: inline-flex
}

.hide,
div#main-content {
    display: none
}

.loader {
    
}

#selector a {
    color: #fff;
    background-color: #000
}

#selector a:hover {
    background-color: #00f
}

#selector .active {
    background-color: #00f
}

@media (max-width:550px) {
    #selector {
        display: none;
    }
}

.footer img {
    box-shadow: none;
    max-height: 48px;
    max-width: 48px
}

#loader_img, #front_loader_img {
    box-shadow: none;
}

#loader_img {
    position: relative;
    top: 150px
}

/*
ABOVE IMPORTED FROM SKELTON
*/

/*body { padding-top: 70px; }*/

.load {
  background: url(images/widgets/load.gif);
}

.jumbotron img {
    box-shadow: none;
}

.jumbotron {
  background-color: transparent;
  height: 100vh;
}

.jumbotron a {
  text-decoration: none;
  color: black;
}

.glyphicon {
    display: block;
    text-align: center;
}

img a:active {
    background-color: none;
}

#portfolio img {
  margin: 3rem auto;
}

#selector {
  margin-top: 3rem;
  background-color: transparent;
  border-radius: 0;
  border: none;
/*  border-top: solid 5px;
  border-bottom: solid 5px;*/
}

img {
    max-height: 575px;
}

div a:hover {
    background-color: transparent;
/*    box-shadow: none !important;*/
}

.hrsmall {
    margin: 1rem auto;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
/*  content: open-quote;*/
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

.no-show {
    border-color: transparent;
}

.show {
    display: block;
}
p a:hover {
    background-color:#000;
    color:#fff;
    cursor: pointer;
}