/*body { padding-top: 70px; }*/

.load {
  background: url(images/widgets/load.gif);
}

a:hover {
    background-color:#000;
    color:#fff;
    cursor: pointer;
}

.jumbotron {
  background-color: transparent;
  height: 100vh;
}

.jumbotron a {
  text-decoration: none;
  color: black;
}

.glyphicon {
    display: block;
    text-align: center;
}

img a:active {
    background-color: none;
}

#portfolio img {
  margin: 3rem auto;
}

#selector {
  margin-top: 3rem;
  background-color: transparent;
  border-radius: 0;
  border: none;
/*  border-top: solid 5px;
  border-bottom: solid 5px;*/
}

img .towers {
    max-height: 575px;
}

a img:hover

img a:hover {
    background-color: transparent;
/*    box-shadow: none !important;*/
}

.hrsmall {
    margin: 1rem auto;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
/*  content: open-quote;*/
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

.no-show {
    border-color: transparent;
}